@font-face {
  font-family: "Jaapokki-Regular";
  src: url("..//fonts/jaapokki-regular.eot");
  src: url("..//fonts/jaapokki-regular.eot") format("embedded-opentype"), url("..//fonts/jaapokki-regular.woff") format("woff"), url("..//fonts/jaapokki-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

html {
  height: 100%; }

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, white 50%, black 50%); }

h1 {
  color: red; }

* {
  margin: 0;
  padding: 0; }

.logo-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 56px 45px;
  height: 100%;
  text-align: center;
  z-index: 9900; }

.social-block {
  position: absolute;
  bottom: 170px; }

.social-block ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.social-block ul li {
  margin-top: 10px;
  font-size: 20px; }

.social-block ul li a i {
  color: black;
  transition: .5s; }

.social-block ul li a i:hover {
  color: #733AB5;
  transition: .5s; }

.text1 {
  position: absolute;
  width: 700px;
  height: 147px;
  left: 931px;
  top: 220px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  text-align: right; }

@media only screen and (max-width: 950px) {
  .text1 {
    font-size: 15px; } }
